.logo {
    border-radius: 50%;
    width: 50px;
}
body {
    background-color: #32CD32;
    font-family: "Open Sans", sans-serif;
}
    h1 {
        font-size: 36px;
        text-align: center;
        margin-top: 50px;
        color: rgb(13, 153, 0);
    }
    form {
        max-width: 500px;
        margin: 0 auto;
        background-color: rgba(221, 219, 219, 0.8);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    input[type="text"], input[type="password"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }
    button:hover {
        background-color: #45a049;
    }
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        background-color: rgba(221, 219, 219, 0.8);
    }
    img.avatar {
        width: 30%;
        border-radius: 50%;
    }
    
    span.psw {
        float: right;
        padding-top: 16px;
    }
    @media screen and (max-width: 600px) {
        form {
            max-width: 300px;
        }
    }

    .dark-mode {
        background-color: rgb(5, 5, 5);
        color: rgb(11, 85, 4);
      }